/* You can add global styles to this file, and also import other style files */

:root {
  --ion-font-family: 'Plus Jakarta Sans', sans-serif;

  /* Applying stitch custom colors to ionic vars if needed */
  --ion-color-primary: #13a4ec;
  --ion-color-primary-rgb: 19, 164, 236;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1190cf;
  --ion-color-primary-tint: #2badee;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
